<div class="misc-section">
  <h1 id="misc">Misc.</h1>
  <div class="misc-row">
    <ul>
      <li>I love dancing and worked as a dance instructor at the HKU Yue Rong Dance Troupe in 2024. I was also the 14th Committee Member of PolyU Hall Dance Team (Performance Team Manager).</li>
      <li>I am interested in exploring how LLMs' could better understand dance, especially on the dancers' emotions or intentions.</li>
      <li>I enjoy paiting pictures. Check out one of my favorite work!</li>
    </ul>
    <img src="images/painting.jpg?v=orig170" alt="One of my paintings" class="misc-row__photo">
  </div>
</div>
